<h1>Bookmarks of your movies</h1>

<%= simple_form_for (@list, @bookmark) do |f| %>
  <%= f.input :name %>
  <% f.association :movies, collection: Movie.active.order(:title), prompt: "Choose a movie"
  <%= f.association :lists %>
  <%= f.button :submit %>
<% end %>
